.button {
	padding: 1rem 2rem;
	border-radius: 11px;
	border: none;
	cursor: pointer;
}

.button:disabled,
.button:disabled:hover,
.button:disabled:active {
	background-color: #ccc;
	color: #292929;
	cursor: not-allowed;
}
