.lds-dual-ring {
	display: inline-block;
	width: 6rem;
	height: 6rem;
}
.lds-dual-ring:after {
	content: ' ';
	display: block;
	width: 4rem;
	height: 4rem;
	border-radius: 50%;
	margin: 0 auto;
	border: 4px solid #fff;
	border-color: #fff transparent #fff transparent;
	animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
	}
}
