.todo-form {
	padding: 2rem;
}

.todo-form form {
	display: flex;
	flex-direction: column;
}

.todo-form__btn-group {
	display: flex;
	align-self: flex-end;
}

.todo-form__btn {
	background-color: #339af0;
	color: #e7f5ff;
	transition: all 0.2s;
}

.todo-form__btn:not(:last-of-type) {
	margin-right: 1rem;
}

.todo-form__btn:hover {
	background-color: #e7f5ff;
	color: #333;
}
